<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite">


    <test name="Valid_Test">
        <parameter name="username" value="admin@yourstore.com"/>

        <parameter name="password" value="admin"/>
        <classes>
            <class name="LoginPageTest"></class>
        </classes>
    </test>

    <test name="InValid_Test">
        <parameter name="username" value="admin@yourstore.com"/>

        <parameter name="password" value="admin12345"/>
        <classes>
            <class name="LoginPageTest"></class>
        </classes>
    </test>
</suite>

